<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    .ortala{
        margin-left:10%;
        margin-right:10%;
        margin-top:150px;
		font-size: 20px;
        font-family: 'Times New Roman';
        background-color:#2a9cce;

        width: 1200px;
        height: 500px;
       text-align:center;
       padding-top:100px;
       padding-bottom:5px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: powderblue;">
<div class="ortala">
   <form action="/" method="post">

    <label >Araştırmacı Adı:</label><input  type="text"  name="araştırmacıAdı"><br><br>
    <label >Yayın Adı:</label><input type="text"  name="yayınAdı"><br><br>
    <button type="submit" >Ara</button>

   </form>
</div>
</body>
</html>