<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    .ortala{
        margin-left:10%;
        margin-right:10%;
        margin-top:150px;
		font-size: 20px;
        font-family: 'Times New Roman';
        background-color:#2a9cce;

        width: 1200px;
        height: 500px;
       text-align:center;
       padding-top:100px;
       padding-bottom:5px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: powderblue;"><div class="ortala">
<form action="/Kullanıcı" method="post">

    <label >Araştırmacı ID:</label><input type="text" name="araştırmacıID"><br><br>
    <label >Araştırmacı Adı:</label><input  type="text"  name="araştırmacıAdı"><br><br>
    <label >Araştırmacı Soyadı:</label><input   type="text"  name="araştırmacıSoyadı"><br><br>
    <label >Yayın Adı:</label><input type="text"  name="yayınAdı"><br><br>
    <label >Yayın Yılı:</label><input type="text"  name="yayınYılı"><br><br>
    <label >Yayın Türü:</label><input type="text"  name="yayınTuru"><br><br>
    <label >Yayın Yeri:</label><input  type="text"  name="yayınYeri"><br><br>
    <button type="submit" >Kaydet</button>

</form></div>
</body>
</html>